{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block css %} 
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}">
{% endblock %}

{% block content %}
<section>
    <div class="login-box"> 
        <form action="/" method="POST">
            <h2>Login</h2>
            <div class="inner">
                <div class="input-box">
                    <span class="icon"><img src = "/static/Icons/usericon.png"></span>
                    <div id="lines">
                        <label for="username">Username:</label>
                        <input id="searchbox" name="username" type="text" minlength="4" maxlength="30" required>
                    </div>
                </div>
       
                <div class="input-box">
                    <span class="icon"><img src = "/static/Icons/passicon.png"></span>
                    <div id="lines">
                        <label for="password">Password:</label>
                        <input id="searchbox" name="password" type="password" pattern=".{8,256}" title="Password must be at least 8 characters long" required>
                    </div>
                </div>
            </div>
       
            <button class="login-button" type="submit">Login</button>
            <div class="register-link">
                <p>Don't have an account?
                <a href="/user-register">Register</a></p>
            </div>
        </form>
        <div class="error">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}


  
    